body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: black;
  background-image: url("../images/recipe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: wheat;
}

.index > ul {
  display: inline-block;

}
  
